<h2 mat-dialog-title>Нов клиент</h2>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Име</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>ЕДБ</mat-label>
    <input matInput [(ngModel)]="taxId" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Адреса</mat-label>
    <input matInput [(ngModel)]="address" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Емаил</mat-label>
    <input matInput [(ngModel)]="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Телефон</mat-label>
    <input matInput [(ngModel)]="phone" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</div>
