* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 40px auto;
  }
  
  .login-heading {
    font-size: 24px;
    font-weight: bold;
    color: #388659; /* Sea Green */
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #388659; /* Sea Green */
    outline: none;
  }
  
  .submit-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #388659; /* Sea Green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #52AA5E; /* Pigment Green */
  }
  
  .submit-button:active {
    background-color: #3AAED8; /* Process Cyan */
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 30px;
      width: 90%;
    }
  }