/* dashboard.component.scss */

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 960px;
  margin-top: 40px;
  margin-bottom: 16px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .print { background-color: #007bff; }
  .print:hover { background-color: #0056b3; }

  .font { background-color: #2d8ff8; }
  .font:hover { background-color: #146dcd; }

  .edit { background-color: #00b630; }
  .edit:hover { background-color: #008f07; }

  .export { background-color: #b61b00; }
  .export:hover { background-color: #8d1601; }

  .invisible {
    visibility: hidden;
    width: 110px;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
  }
}

.invoice {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 960px;

  .elementA { flex-grow: 1; }

  .add-button {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00b630;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .add-button:hover { background-color: #008f07; }

  .invoice-total {
    width: 48%;
    font-size: 12px;
    font-weight: bold;
    page-break-inside: avoid;

    .invoice-total-titles,
    .invoice-total-values {
      display: flex;
      border: 1px solid black;
      padding: 6px;
      margin-bottom: 4px;
      text-align: center;

      div { width: 25%; }
    }
  }
}

.signatures {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  .signatures-left { text-align: center; }
  .signatures-right { text-align: right; font-size: 14px; }
}
