<div class="buttons">
  <button class="button print" (click)="printThisPage()">Print</button>
  <button class="button export" (click)="exportToJson()">Save</button>
  <button (click)="saveToFirestore()">Save (Cloud)</button>
  <input
    type="file"
    (change)="importJson($event)"
    style="display: none"
    #fileInput
  />
  <button class="button export" (click)="fileInput.click()">Open</button>
  <button class="button font" (click)="increaseFontSize()">Font+</button>
  <button class="button font" (click)="decreaseFontSize()">Font-</button>
  <button class="button edit" (click)="openInvoiceMetaModal()">Детали</button>
  <button class="invisible"></button>
</div>

<div class="invoice">
  <div class="elementA">
    <invoice-header
      [companyId]="companyId"
      [company]="company"
      [state]="header"
      (stateChange)="onHeaderChange($event)"
      (reserveNumber)="allocateNumberNow()">
    >
    </invoice-header>

    <br />
    <div class="addButton">
      <button mat-button class="add-button" (click)="openInvoiceItemModal()">
        Додај
      </button>
    </div>

    <invoice-table
      [items]="items"
      [currentFontSize]="currentFontSize"
      [paddingSize]="paddingSize"
      (edit)="openInvoiceItemModal($event)"
      (remove)="removeItem($event)"
    >
    </invoice-table>

    <div *ngIf="company?.settings?.showTaxCategories" class="invoice-total">
      <div class="invoice-total-titles">
        <div>Тарифа</div>
        <div>Износ без ДДВ</div>
        <div>ДДВ</div>
        <div>Износ со ДДВ</div>
      </div>
      <div class="invoice-total-values" *ngFor="let summary of summaryData">
        <div>{{ summary.ddvTarifa }}%</div>
        <div>{{ summary.iznosBezDDV | number : "1.2-2" }}</div>
        <div>{{ summary.vkupnoDDV | number : "1.2-2" }}</div>
        <div>{{ summary.iznosSoDDV | number : "1.2-2" }}</div>
      </div>
    </div>
  </div>

  <invoice-totals
    [slobodenOpis]="slobodenOpis"
    [(soZborovi)]="soZborovi"
    [napomena]="napomena"
    [vkupenIznosBezDDV]="vkupenIznosBezDDV"
    [vkupnoDDV]="vkupnoDDV"
    [isNoteVisible]="isNoteVisible"
    (slobodenOpisChange)="slobodenOpis = $event"
    (napomenaChange)="napomena = $event"
    (toggleNoteVisibility)="toggleNoteVisibility()"
  >
  </invoice-totals>

  <div class="signatures">
    <div class="signatures-left">
      <div>________________________</div>
      <p>ПРИМИЛ</p>
    </div>
    <div class="signatures-right">
      <p>
        Лице со овластување за потпишување фактури: <br />
        {{ company?.ownerName }}
      </p>
      <div></div>
    </div>
  </div>
</div>
