<div class="buttons">
  <button class="print" (click)="printThisPage()">Print</button>
  <button class="edit" (click)="openEditModal()">Пополни</button>
</div>

<div class="invoice">
  <div class="elementA">
    <div class="invoice-header">
      <h2>ПРОФИНГ АРТ ДООЕЛ</h2>
      <div class="box-line"></div>
    </div>

    <div class="invoice-company-info">
      <div>
        <span>Гоце Стојчевски 3/3-19</span> * <span>Тел.: 070554623</span>
      </div>
      <div>
        <span>Жиро сметка: 300000003952592</span> *
        <span>Банка: Комерцијална Банка</span> * <span>ЕДБ: 4038016510833</span>
      </div>
      <div>fari.fejzula@hotmail.com</div>
    </div>

    <div class="pre-main-content">
      <div class="date-invoice-number">
        <div class="date-value">
          <div class="date">
            <span class="bold">Датум</span>
            <span> {{ datum | date : "dd/MM/yyyy" }}</span>
          </div>
          <div class="value">
            <span class="bold">Валута</span>
            <span> {{ valuta | date : "dd/MM/yyyy" }}</span>
          </div>
        </div>
        <div class="invoice-number">
          <h2 class="uppercase">{{selectedOption}}</h2>
          <h2>број: {{ fakturaBroj }}</h2>
        </div>
      </div>
      <div class="invoiced-company">
        <h2>{{ companyTitle }}</h2>
        <p>{{ companyAddress }}</p>
        <p>{{ companyCity }}</p>
        <p *ngIf="companyID">Даночен Број (ЕМБГ): {{ companyID }}</p>
      </div>
    </div>
    <br />
    <div class="addButton">
      <button mat-button class="add-button" (click)="openEntryModal()">
        Додај
      </button>
    </div>
    <div class="invoice-content">
      <table class="invoice-table">
        <thead>
          <tr>
            <th>Р.б</th>
            <th>Опис</th>
            <th>Е М</th>
            <th>Количина</th>
            <th>Цена без данок</th>
            <th>Рабат %</th>
            <th>Рабат</th>
            <th>ДДВ %</th>
            <th>Износ со ДДВ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.opis }}</td>
            <td>{{ item.em }}</td>
            <td>{{ item.kolicina | number : "1.2-2" }}</td>
            <td>{{ item.cenaBezDanok | number : "1.2-2" }}</td>
            <td>{{ item.rabatProcent }}</td>
            <td>{{ calculateRabat(item) | number : "1.2-2" }}</td>
            <td>{{ item.ddv }}</td>
            <td>{{ calculateItemTotal(item) | number : "1.2-2" }}</td>
            <td class="deleteEntry">
              <button mat-icon-button (click)="removeItem(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="invoice-total">
        <div class="invoice-total-titles">
          <div>Тарифа</div>
          <div>Износ без ДДВ</div>
          <div>ДДВ</div>
          <div>Износ со ДДВ</div>
        </div>
        <div class="invoice-total-values" *ngFor="let summary of summaryData">
          <div>{{ summary.tariff }}%</div>
          <div>{{ summary.totalWithoutTax | number : "1.2-2" }}</div>
          <div>{{ summary.totalTax | number : "1.2-2" }}</div>
          <div>{{ summary.totalWithTax | number : "1.2-2" }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="elementB">
    <div class="invoice-total-down">
      <div class="slobodenOpis">{{ slobodenOpis }}</div>
      <div class="totals">
        <div class="down-first">
          <span>Износ без ДДВ:</span>
          <span>ДДВ +</span>
          <span>Вкупен износ со ДДВ</span>
        </div>
        <div class="down-second">
          <span>{{ totalPriceWithoutTax | number : "1.2-2" }}</span>
          <span>{{ totalTax | number : "1.2-2" }}</span>
          <span>{{ totalPriceWithoutTax + totalTax | number : "1.2-2" }}</span>
        </div>
      </div>
    </div>

    <div class="invoice-total-payment">
      <div class="payment-first">
        <span>За наплата</span>
      </div>
      <div class="payment-second">
        <span
          ><b>{{ totalPriceWithoutTax + totalTax | number : "1.2-2" }}</b></span
        >
      </div>
    </div>

    <div class="declarations">
      <p>
        За секое каснење после валутниот рок, засметуваме законска затезна
        камата.
      </p>
      <br />

      <p>Со зборови: {{ soZborovi }} <input type="text" /></p>
    </div>

    <div class="signatures">
      <div class="signatures-left">
        <div>________________________</div>
        <p>ПРИМИЛ</p>
      </div>
      <div class="signatures-right">
        <span>Лице со овластување за потпишување фактури:</span>
        <div>Фари Фејзула</div>
      </div>
    </div>
  </div>
</div>
